:root {
  --bg: #b6e6a6;
  --oblack: #000000;
}

* {
  /*display: block;*/
  color: var(--oblack);
  font-family: "Bitter";
  margin: none;
  padding: none;
}

body {
  background-color: var(--bg);
}

.center-text {
  display: block;
  margin: none;
  text-align: center;
}

.small-text {
  font-size: 30px;
}

.center-text-div {
  display: block;
  margin: auto;
}

#logo {
  display: block;
  margin: auto;
  width: 320px;
}

#rsvp-wrapper {
  text-align: center;
}

.rsvp {
  font-size: 42px;
  margin: 0 5px;
  color: black;
  padding: 10px;
  background-color: white;
  border: 4px solid black;
}
